<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 通用配置：加载application.properties，自动扫描bean，其他初始化。-->
    <!--  JiangBo change 扫描从com根路径开始因为追加的代码不再mossle路径下
	<context:component-scan base-package="com.mossle"> -->
	<context:component-scan base-package="com">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!-- 默认通过application.properties读取配置 -->
    <bean id="applicationProperties" class="com.mossle.core.spring.ApplicationPropertiesFactoryBean"/>

    <!-- 定义受环境影响易变的变量 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="applicationProperties"/>
    </bean>

	<!-- 国际化 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="${application.i18n.packages}"/>
	</bean>

	<bean id="messageHelper" class="com.mossle.core.spring.MessageHelper"/>

	<bean class="com.mossle.core.logback.JulHandler"/>

	<bean id="applicationContextHelper" class="com.mossle.core.spring.ApplicationContextHelper"/>

	<bean id="exportor" class="com.mossle.ext.export.CsvExportor"/>

	<bean id="storeConnector" class="com.mossle.ext.store.FileStoreConnector">
		<property name="baseDir" value="${store.baseDir}"/>
	</bean>

	<bean id="templateService" class="com.mossle.ext.template.FreemarkerTemplateService">
		<property name="baseDir" value="${store.baseDir}/cms/template"/>
	</bean>
	
	<!-- 数据库连接 -->
	<import resource="applicationContext-jdbc.xml"/>
	<!-- springmvc相关的配置 -->
	<import resource="applicationContext-springmvc.xml"/>
	<!-- 数据库持久层hibernate -->
	<import resource="applicationContext-hibernate.xml"/>
	<!-- 模块间交互的定制服务 -->
	<import resource="applicationContext-service.xml"/>
	<!-- activiti工作流 -->
	<import resource="applicationContext-activiti.xml"/>
    <!-- 用户账号，多租户，用户，用户权限暴露接口的配置，包括相关的缓存 -->
	<import resource="applicationContext-bridge.xml"/>
	<!-- 本地缓存和远程缓存的策略 -->
	<import resource="applicationContext-cache.xml"/>
    <!-- 对应web.xml中的compositeFilter，这里配置系统的Filter和Servlet -->
	<import resource="applicationContext-filter.xml"/>
    <!-- 审计日志。（还没用到） -->
	<import resource="applicationContext-inspektr.xml"/>
    <!-- 异步的消息订阅与发布 -->
	<import resource="applicationContext-jms.xml"/>
	<!-- 把一些bean导出成jmx -->
	<import resource="applicationContext-jmx.xml"/>
	<!-- 邮件配置 -->
	<import resource="applicationContext-mail.xml"/>
	<!-- 基于spring的定时任务 -->
	<import resource="applicationContext-scheduler.xml"/>
	<!-- 权限配置 -->
	<import resource="applicationContext-security-extend.xml"/>
	<!-- 权限配置 -->
	<import resource="applicationContext-security.xml"/>
</beans>
